.info-box {
    max-width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  p {
    margin-bottom: 20px;
  }